target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/target/
**/.settings/
**/.classpath
**/.project
logs/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.idea/
**/*.iml
.mvn
**/local/sabyrzhan/app/logging/logs/
**/local/sabyrzhan/test/logging/logs/
docker_build/